@import url("./assest/fonts/css/fontiran.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "iranyekan";
    list-style: none;
}
:root{
    --primaryColor: #6d28d9;
    --secondaryColor: #ede9fe;
    --mainWhite: #fff;
    --mainBlack:#222;
    --mainGrey:#7c7c7c;
    --mainTransition: all 0.3s linear;
    --mainRed:#db2777;
    --bodyColor:#f6f6f6;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bodyColor);
    color: var(--mainBlack);
}
header{
    min-height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 30rem;
}

.form-container{
    display: flex;
    width: 100%;
}
@media screen and (max-width:685px) {
    .container{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 22rem;
    }
    .form-container{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .select{
        /* margin-bottom: 1rem; */
        width: 20px;
    }
    .select select{
        border: 1px solid var(--primaryColor);
        border-radius: 10px;
    }
}
.form-container form{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}
.todo-input{
    width: 100%;
}
form .add-btn,
form .todo-input{
    outline: none;
    border: none;
    background-color: var(--mainWhite);
    font-size: 1rem;
    padding: 1rem;
}
form .add-btn{
    color: var(--primaryColor);
    cursor: pointer;
    transition: var(--mainTransition);
}
form .add-btn:hover{
    background-color: var(--primaryColor);
    color: var(--mainWhite);
}
.todo-container{
    width: 100%;
    padding: 1rem;
}
.todo{
    transition: var(--mainTransition);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: .2rem 0;
    background-color: var(--secondaryColor);
    padding: .5rem;
}
.todo li{
 flex: 1;
 font-weight: bold;
 color: var(--primaryColor);
}
.todo span{
    display: block;
    padding: .5rem;
    cursor: pointer;
}
.fa-trash-can{
    color: var(--mainRed);
}
.fa-pen-to-square,.fa-circle-check{
 color: var(--primaryColor);
}
.completed{
    text-decoration: line-through;
    opacity: .3;
}

.select select{
    appearance: none;
    border: none;
    outline: none;
    width: 100%;
    padding: 1rem;
    color: var(--primaryColor);
    background-color: var(--mainWhite);
    font-weight: bold;
    height: 100%;
    cursor: pointer;
}
.select{
    position: relative;
    /* margin-left: 1rem; */
    width: 16rem;
    padding: 1rem;
}
.select::after{
    content: "\25BC";
    position: absolute;
    padding: 2rem;
    top: 0;
    right: 0;
    color: var(--primaryColor);
    pointer-events: none;
}
.clear-btn{
    outline: none;
    border: none;
    padding: .5rem 1rem;
    color: var(--primaryColor);
    background-color: var(--secondaryColor);
    cursor: pointer;

}